################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Million.PropertyManagement
/src/Million.PropertyManagement.Application/obj
/src/Million.PropertyManagement.Domain/obj
/src/Million.PropertyManagement.Infrastructure/obj
/src/Million.PropertyManagement.Infrastructure/bin/Debug/net6.0
/src/Million.PropertyManagement.Application/bin/Debug/net6.0
/src/Million.PropertyManagement.Domain/bin/Debug/net6.0
/src/Million.PropertyManagement.Api/obj
/src/Million.PropertyManagement.Api/bin/Debug/net6.0
/.vs/ProjectEvaluation
/src/Million.PropertyManagement.Common/bin/Debug/net6.0
/src/Million.PropertyManagement.Common/obj
/src/Million.PropertyManagement.Tests.Controllers/bin/Debug/net6.0
/src/Million.PropertyManagement.Tests.Controllers/obj
/src/Million.PropertyManagement.Api/bin/Release/net6.0
/src/Million.PropertyManagement.Application/bin/Release/net6.0
/src/Million.PropertyManagement.Common/bin/Release/net6.0
/src/Million.PropertyManagement.Domain/bin/Release/net6.0
/src/Million.PropertyManagement.Infrastructure/bin/Release/net6.0
/src/Million.PropertyManagement.Tests.Controllers/bin/Release/net6.0
