################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Million.PropertyManagement
/src/Million.PropertyManagement.Application/obj
/src/Million.PropertyManagement.Domain/obj
/src/Million.PropertyManagement.Infrastructure/obj
