<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="c:\Logs\internal-nlog.txt">

  <variable name="appName" value="Million-Property-Management" />

  <targets>
    <target name="logfileDebug" xsi:type="File" fileName="c:\Logs\${appName}\${shortdate}_log${appName}_Trace.txt"
            layout="${longdate}|${level:uppercase=true} | ${message}"/>
    <target name="logfile" xsi:type="File" fileName="c:\Logs\${appName}\${shortdate}_log${appName}_Error.txt"
            layout="${longdate}|${level:uppercase=true} | ${message}"/>
    <target name="prueba" xsi:type="File" fileName="c:\Logs\${appName}\${shortdate}_log${appName}_Prueba.txt"
            layout="${longdate}|${level:uppercase=true} | ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="logfileDebug" enabled="true" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="logfile" enabled="true" />
    <logger name="Prueba" minlevel="Trace" maxlevel="Fatal" writeTo="prueba" final="false" />
  </rules>
</nlog>
