<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Guardar logs en archivo -->
    <target xsi:type="File" name="fileTarget" fileName="logs/logfile.log"
            layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=ToString}" />

    <!-- Log en la consola -->
    <target xsi:type="Console" name="consoleTarget" layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>

  <rules>
    <!-- Registrar logs de nivel Info y superior -->
    <logger name="*" minlevel="Info" writeTo="fileTarget,consoleTarget" />
  </rules>
</nlog>
